@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;      /* Dark grey background */
  --foreground: #ffffff;      /* White text */
  --secondary-text: #e5e5e5;  /* Light grey text */
  --border: #333333;         /* Dark grey border */
  --card-bg: #262626;        /* Slightly lighter grey for cards */
  --highlight: #333333;      /* Dark grey for highlights */
  --accent: #059669;         /* Keep the emerald accent */
  --accent-bg: #064e3b;      /* Darker emerald for accent background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;    /* Dark grey background */
    --foreground: #ffffff;    /* White text */
    --secondary-text: #e5e5e5; /* Light grey text */
    --border: #333333;        /* Dark grey border */
    --card-bg: #262626;       /* Slightly lighter grey for cards */
    --highlight: #333333;     /* Dark grey for highlights */
    --accent: #10b981;        /* Brighter emerald for dark mode */
    --accent-bg: #064e3b;     /* Dark emerald for accent background */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
